div.b-second-column__education
    h3 Education
    ul
        - var count=4;
        - for (var i=1; i <=count; i++) {
        li
            div.b-paragraph
                h4
                    div.b-paragraph__circle
                    span.b-paragraph__text-header Master Degree
                    span.b-paragraph__date // Feb 2011 - Jun 2014
                h4.g-subheader University name
                p.
                    Lorem Ipsum используют потому, что тот обеспечивает более
                    или менее стандартное заполнение шаблона, а также реальное распределение
                    букв и пробелов в абзацах, которое не получается при простой дубликации
                    "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
        - }