.bold,
#home h3,
#home .frame h1,
#home .frame h4,
#home .text_header {
    font-family: "MyriadProBold", serif;
}

.light, #home .frame h2 {
    font-family: "MyriadProLightSemiExtended_31641", serif;
}

.regular,
#home .profile p,
#home .subheader,
#home .contact .description,
#home .education .date,
#home .experience .date,
#home .education ul li p,
#home .experience ul li p
{
    font-family: "MyriadProRegular", serif;
}

html {
    height: auto;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#home .first-column {
    width: 35%;
    float: left;
}

#home .second-column {
    margin-left: 40%;
}

#home .text_header {
    margin: 0;
    font-size: 23px;
    overflow: hidden;
    color: #3d6cb0;
    text-transform: uppercase;
}

#home .subheader {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
}

#home h3 {
    font-size: 40px;
    overflow: hidden;
    color: #3d6cb0;
    background: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
}

#home .frame {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

#home .frame svg {
    width: 100%;
    min-height: 250px;
    max-height: 460px;
}

#home .frame h1 {
    font-size: 75px;
    margin: 0;
}

#home .frame h2 {
    font-size: 65px;
    margin: 0;
}

#home .frame h4 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 100px;
}

#home .profile p {
    font-size: 15px;
    line-height: 1.2;
}

#home .contact table th {
    text-align: left;
    padding: 10px 0;
}

#home .contact .description {
    padding-left: 50px;
    font-size: 20px;
    font-weight: 300;
}

#home .skills .subheader {
    display: flex;
    justify-content: center;
    margin: 0;
}

#home .skills .marks {
    margin: 0;
    text-align: center;
    padding: 15px;
}

#home .skills .marks li {
    display: inline-block;
}

#home .skills .marks .mark {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3d6cb0;
    margin-right: 3px;
}

#home .skills .marks .mark-off {
    background: #e6e6e6;
}

#home .education ul,
#home .experience ul {
    margin: 0;
    list-style: none;
}

#home .education ul .circle,
#home .experience ul .circle{
    margin-left: -32px;
    margin-top: 3px;
    position: absolute;
    width: 18px;
    height: 18px;
    background: #000000;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 9px;
}

#home .education .paragraph,
#home .experience .paragraph {
    margin-top: 25px;
}

#home .education li span,
#home .experience li span,
#home .education li h4,
#home .experience li h4 {
    margin: 0;
}

#home .education li p,
#home .experience li p {
    margin: 0;
    font-size: 15px;
}

#home .date {
    font-size: 22px;
    font-weight: 300;
}

#home .experience .text_header {
    color: #000000;
}

#home .software table {
    border-collapse: collapse;
    border-spacing: 40px 0px;
    width: 100%;
    text-align: left;
}

#home .software .left {
    padding-right: 50px;
}

#home .software .right {
    padding-left: 50px;
}

#home .software .block .gray-bar {
    background: #e6e6e6;
    height: 25px;
}

#home .software .block .gray-bar .blue-bar {
    float: left;
    background: #3d6cb0;
    width: 90%;
    height: 25px;
}

#home .software .block .gray-bar .dreamweaver {
    width: 80%;
}

#home .software .block .gray-bar .illustrator {
    width: 70%;
}

#home .software .block .gray-bar .after-effects {
    width: 65%;
}

#home .software .block .gray-bar .indesign {
    width: 60%;
}

        /*Иконки и линии*/
.icon,
#home h3:before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url("../img/sprite.png") no-repeat center center;
    vertical-align: middle;
    margin-right: 5px;
    background-size: cover;
    background-origin: border-box;
}

#home .profile h3:before {
    background-position: 0 0;
}

#home .contact h3:before {
    background-position: -83px 0;
}

#home .skills h3:before {
    background-position: -171px 0;
}

#home .education h3:before {
    background-position: -259px 0;
}

#home .experience h3:before {
    background-position: -355px 0;
}

#home .software h3:before {
    background-position: -447px 0;
}

.line,
#home h3:after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    background: #3d6cb0;
    margin-right: -100%;
    margin-left: 15px;
}

        /*Одноколоночный макет*/
@media screen and (min-width: 320px) and (max-width: 800px) {
    #home .first-column {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    #home .second-column {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
    }

    #home .frame svg {
        width: auto;
    }

    #home .frame h1 {
        font-size: 55px;
    }

    #home .frame h2 {
        font-size: 45px;
    }

    #home .frame h4 {
        font-size: 15px;
    }

    #home .contact table {
        display: flex;
        justify-content: center;
    }

    #home .education .date,
    #home .experience .date {
        font-size: 15px;
    }

    #home .software .left {
        padding-right: 10px;
    }

    #home .software .right {
        padding-left: 10px;
    }

    .line,
    #home h3:after {
        display: none;
    }
}

