.first-column__contact .block-title
  margin-bottom 20px

.first-column__contact table th
  text-align left
  padding 2px 2px 20px 0

@media screen and (max-width: 850px)
  .first-column__contact table
    display flex
    justify-content center

.paragraph__description
  font-size 20px
  font-weight 300

.first-column__contact
  padding-top 2px