div.first-column__contact
    h3 Contact
    table
        tr
            th.b-paragraph__text-header Address
            th.b-paragraph__description Main Street, City.
        tr
            th.b-paragraph__text-header e-mail
            th.b-paragraph__description contact@domain.com
        tr
            th.b-paragraph__text-header phone
            th.b-paragraph__description 555-555-555
        tr
            th.b-paragraph__text-header website
            th.b-paragraph__description www.yourweb.com