div.first-column__contact
    h3.block-title Contact
    table
        tr.paragraph
            th.paragraph__text-header Address
            th.paragraph__description Main Street, City.
        tr.paragraph
            th.paragraph__text-header e-mail
            th.paragraph__description contact@domain.com
        tr.paragraph
            th.paragraph__text-header phone
            th.paragraph__description 555-555-555
        tr.paragraph
            th.paragraph__text-header website
            th.paragraph__description www.yourweb.com