doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Summary
        meta(name='viewport' content='width=device-width' initial-scale='1.0')
    body
        div.g-container
            div.b-first-column
                include html/first-column/frame
                include html/first-column/profile
                include html/first-column/contact
                include html/first-column/skills
            div.b-second-column
                include html/second-column/education
                include html/second-column/experience
                include html/second-column/software