section
div.g-container
    div.b-first-column
        div.first-column__frame
            svg
                circle(r='32%' cx='50%' cy='50%' fill='none' stroke='#3d6cb0')
                circle(r='29%' cx='50%' cy='50%' fill='#3d6cb0')
            h2 name here
            h1 surname
            h4 graphic designer
        div.first-column__profile
            h3 Profile
            p.
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                Lorem Ipsum является стандартной "рыбой" для текстов на латинице с
                начала XVI века. В то время некий безымянный печатник создал большую
                коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки
                образцов. Lorem Ipsum не только <strong>успешно пережил без заметных изменений
                пять веков, но и перешагнул в электронный дизайн. Его популяризации
                в новое время послужили публикация листов Letraset с образцами Lorem
                Ipsum в 60-х годах и, в более недавнее время, программы электронной
                вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        div.first-column__contact
            h3 Contact
            table
                tr
                    th.b-paragraph__text-header Address
                    th.description Main Street, City.
                tr
                    th.b-paragraph__text-header e-mail
                    th.description contact@domain.com
                tr
                    th.b-paragraph__text-header phone
                    th.description 555-555-555
                tr
                    th.b-paragraph__text-header website
                    th.description www.yourweb.com
        div.first-column__skills
            h3 Skills
            div
                h4.g-subheader Creative
                ul.b-marks
                    - var hit = 9;
                    - var nohit = 3;
                    - for (var i = 1; i <=hit; i++) {
                    li
                        span.b-marks__mark
                    - }
                    - for (var j = 1; j <=nohit; j++) {
                    li
                        span.b-marks__mark.b-marks__mark-off
                    - }
            div
                h4.g-subheader Teamwork
                ul.b-marks
                    - var hit = 11;
                    - var nohit = 1;
                    - for (var i = 1; i <=hit; i++) {
                    li
                        span.b-marks__mark
                    - }
                    - for (var j = 1; j <=nohit; j++) {
                    li
                        span.b-marks__mark.b-marks__mark-off
                    - }
            div
                h4.g-subheader Innovate
                ul.b-marks
                    - var hit = 6;
                    - var nohit = 6;
                    - for (var i = 1; i <=hit; i++) {
                    li
                        span.b-marks__mark
                    - }
                    - for (var j = 1; j <=nohit; j++) {
                    li
                        span.b-marks__mark.b-marks__mark-off
                    - }
            div
                h4.g-subheader Communication
                ul.b-marks
                    - var hit = 11;
                    - var nohit = 1;
                    - for (var i = 1; i <=hit; i++) {
                    li
                        span.b-marks__mark
                    - }
                    - for (var j = 1; j <=nohit; j++) {
                    li
                        span.b-marks__mark.b-marks__mark-off
                    - }
    div.b-second-column
        div.b-second-column__education
            h3 Education
            ul
                - var count=4;
                - for (var i=1; i <=count; i++) {
                li
                    div.b-paragraph
                        h4
                            div.circle
                            span.b-paragraph__text-header Master Degree
                            span.b-paragraph__date // Feb 2011 - Jun 2014
                        h4.g-subheader University name
                        p.
                            Lorem Ipsum используют потому, что тот обеспечивает более
                            или менее стандартное заполнение шаблона, а также реальное распределение
                            букв и пробелов в абзацах, которое не получается при простой дубликации
                            "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
                - }
        div.b-second-column__experience
            h3 Experience
            ul
                - var count=4;
                - for (var i=1; i <=count; i++) {
                li
                    div.b-paragraph
                        h4
                            div.circle
                            span.b-paragraph__text-header Master Degree
                            span.b-paragraph__date // Feb 2011 - Jun 2014
                        h4.g-subheader University name
                        p.
                            Lorem Ipsum используют потому, что тот обеспечивает более
                            или менее стандартное заполнение шаблона, а также реальное распределение
                            букв и пробелов в абзацах, которое не получается при простой дубликации
                            "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
                - }
        div.b-second-column__software
            h3 Software
            table
                tr.b-bar
                    th.b-bar__left
                        h4.g-subheader Photoshop
                        div.gray-bar
                            div.blue-bar
                    th.b-bar__right
                        h4.g-subheader Dreamweaver
                        div.gray-bar
                            div.blue-bar.dreamweaver
                tr.b-bar
                    th.b-bar__left
                        h4.g-subheader Illustrator
                        div.gray-bar
                            div.blue-bar.illustrator
                    th.b-bar__right
                        h4.g-subheader After effects
                        div.gray-bar
                            div.blue-bar.after-effects
                tr.b-bar
                    th.b-bar__left
                        h4.g-subheader Indesign
                        div.gray-bar
                            div.blue-bar.Indesign
                    th.b-bar__right
                        h4.g-subheader HTML&amp;CSS3
                        div.gray-bar
                            div.blue-bar
