//mixin
include ../../html/block-title/block-title

mixin profile()
    .profile
        +block-title('profile')
        p.profile__text-about
            include ../../html/text-data/profile__text-about
