//mixins
include ../../html/marks/marks
include ../../html/block-title/block-title

mixin skills()
    .skills
        +block-title('skills')
        div.skills__positions
            +marks('creative', '9', '3')
            +marks('teamwork', '11', '1')
            +marks('innovate', '6', '6')
            +marks('communication', '11', '1')