.contact
  padding-top 2px

  & h3:before
    background-position -93px 0

  & .block-title
    margin-bottom 20px

  &__contact-table th
    text-align left
    padding 2px 2px 20px 0
    @media screen and (max-width: 850px)
      display flex
      justify-content center

  &__description
    font-size 1.2rem
    font-weight 300

  &__text-header
    margin 0
    font-size 1.3rem
    overflow hidden
    color #3d6cb0
    text-transform uppercase

