.marks
  text-align center
  margin 14px

  &__mark
    display block
    width 16px
    height 16px
    border-radius 50%
    background #3d6cb0
    margin-right 13px

  &__mark-off
    background #e6e6e6

  &__line
    display inline-block