h4.g-subheader Creative
ul.marks
    - var hit = 9;
    - var nohit = 3;
    - for (var i = 1; i <=hit; i++) {
    li.marks__line
        span.marks__mark
    - }
    - for (var j = 1; j <=nohit; j++) {
    li.marks__line
        span.marks__mark.marks__mark-off
    - }
h4.g-subheader Teamwork
ul.marks
    - var hit = 11;
    - var nohit = 1;
    - for (var i = 1; i <=hit; i++) {
    li.marks__line
        span.marks__mark
    - }
    - for (var j = 1; j <=nohit; j++) {
    li.marks__line
        span.marks__mark.marks__mark-off
    - }
h4.g-subheader Innovate
ul.marks
    - var hit = 6;
    - var nohit = 6;
    - for (var i = 1; i <=hit; i++) {
    li.marks__line
        span.marks__mark
    - }
    - for (var j = 1; j <=nohit; j++) {
    li.marks__line
        span.marks__mark.marks__mark-off
    - }
h4.g-subheader Communication
ul.marks
    - var hit = 11;
    - var nohit = 1;
    - for (var i = 1; i <=hit; i++) {
    li.marks__line
        span.marks__mark
    - }
    - for (var j = 1; j <=nohit; j++) {
    li.marks__line
        span.marks__mark.marks__mark-off
    - }