mixin paragraph(header, date, place)
    li.paragraph
        h4.paragraph__title
            div.paragraph__circle
            span.paragraph__text-header #{header}
            span.paragraph__date   // #{date}
        h4.g-subheader #{place}
        p.paragraph__description
            include ../../html/text-data/paragraph__description