.b-second-column__software table
  border-collapse collapse
  border-spacing 40px 0
  width 100%
  text-align left
  margin-bottom 15px

.b-bar__left
  padding-right 50px

.b-bar__right
  padding-left 50px

.gray-bar
  background #e6e6e6
  height 25px

.gray-bar .blue-bar
  float left
  background #3d6cb0
  width 90%
  height 25px

.gray-bar .dreamweaver
  width 80%

.gray-bar .illustrator
  width 70%

.gray-bar .after-effects
  width 65%

.gray-bar .indesign
  width 60%

@media screen and (min-width: 300px) and (max-width: 850px)
  .b-bar__left
    padding-right: 10px

  .b-bar__right
    padding-left 10px