div.b-second-column__software
    h3 Software
    table
        tr.b-bar
            th.b-bar__left
                h4.g-subheader Photoshop
                div.gray-bar
                    div.blue-bar
            th.b-bar__right
                h4.g-subheader Dreamweaver
                div.gray-bar
                    div.blue-bar.dreamweaver
        tr.b-bar
            th.b-bar__left
                h4.g-subheader Illustrator
                div.gray-bar
                    div.blue-bar.illustrator
            th.b-bar__right
                h4.g-subheader After effects
                div.gray-bar
                    div.blue-bar.after-effects
        tr.b-bar
            th.b-bar__left
                h4.g-subheader Indesign
                div.gray-bar
                    div.blue-bar.indesign
            th.b-bar__right
                h4.g-subheader HTML&amp;CSS3
                div.gray-bar
                    div.blue-bar