.paragraph
  margin-top 15px

.paragraph
  &__circle
    margin-left -32px
    margin-top 3px
    position absolute
    width 18px
    height 18px
    background #000000
    -moz-border-radius 50px
    -webkit-border-radius 50px
    border-radius 9px

  &__date
    font-size 26px
    font-weight 300

  @media screen and (max-width: 850px)
    &__date
      font-size: 15px

  &__experience-description
    padding-top 1.5%

.second-column
  &__experience ul
    margin 0
    list-style none

  &__experience li span
  &__experience li h4
    margin 0

  &__experience li p
    margin 0
    font-size 15px

  &__experience .paragraph__text-header
    color #000000

.second-column__experience
  margin-top 50px


