.b-second-column__experience ul
  margin 0
  list-style none

.b-paragraph__circle
  margin-left -32px
  margin-top 3px
  position absolute
  width 18px
  height 18px
  background #000000
  -moz-border-radius 50px
  -webkit-border-radius 50px
  border-radius 9px

.b-paragraph
  margin-top 25px

.b-paragraph__date
  font-size 22px
  font-weight 300

.b-second-column__experience li span
.b-second-column__experience li h4
  margin 0

.b-second-column__experience li p
  margin 0
  font-size 15px

.b-second-column__experience .b-paragraph__text-header
  color #000000

@media screen and (min-width: 300px) and (max-width: 850px)
  .b-paragraph__date
    font-size: 15px
