.second-column__experience ul
  margin 0
  list-style none

.paragraph__circle
  margin-left -32px
  margin-top 3px
  position absolute
  width 18px
  height 18px
  background #000000
  -moz-border-radius 50px
  -webkit-border-radius 50px
  border-radius 9px

.paragraph
  margin-top 25px

.paragraph__date
  font-size 22px
  font-weight 300

@media screen and (max-width: 850px)
  .paragraph__date
    font-size: 15px

.second-column__experience li span
.second-column__experience li h4
  margin 0

.second-column__experience li p
  margin 0
  font-size 15px

.second-column__experience .paragraph__text-header
  color #000000


