div.frame
    svg.frame__circle
        circle(r='33%' cx='50%' cy='50%' fill='none' stroke='#3d6cb0')
        circle(r='30%' cx='50%' cy='50%' fill='#3d6cb0')
    h2.frame__user-name name here
    h1.frame__user-surname surname
    h4.frame__user-position graphic designer