.frame
  display block
  width 100%
  text-align center
  text-transform uppercase

  &__circle
    width: 100%
    min-height 250px
    max-height 460px
    @media screen and (max-width: 850px)
      width auto

  &__user-surname
    font-family MyriadProBold, "Eras Bold ITC", serif or sans
    font-size 4rem
    margin 0
    overflow hidden
    @media screen and (max-width: 850px)
      font-size 3.5rem

  &__user-name
    font-family MyriadProLightSemiExtended_31641, "Eras Light ITC", serif or sans
    font-size 3.3rem
    margin 0
    overflow hidden
    @media screen and (max-width: 850px)
      font-size 2.9rem

  &__user-position
    font-family MyriadProBold, "Eras Bold ITC", serif or sans
    font-size 1.5rem
    overflow hidden
    margin-top 0
    margin-bottom 70px
    @media screen and (max-width: 850px)
      font-size 1rem
