div.first-column__skills
    h3 Skills
    div
        h4.g-subheader Creative
        ul.b-marks
            - var hit = 9;
            - var nohit = 3;
            - for (var i = 1; i <=hit; i++) {
            li
                span.b-marks__mark
            - }
            - for (var j = 1; j <=nohit; j++) {
            li
                span.b-marks__mark.b-marks__mark-off
            - }
    div
        h4.g-subheader Teamwork
        ul.b-marks
            - var hit = 11;
            - var nohit = 1;
            - for (var i = 1; i <=hit; i++) {
            li
                span.b-marks__mark
            - }
            - for (var j = 1; j <=nohit; j++) {
            li
                span.b-marks__mark.b-marks__mark-off
            - }
    div
        h4.g-subheader Innovate
        ul.b-marks
            - var hit = 6;
            - var nohit = 6;
            - for (var i = 1; i <=hit; i++) {
            li
                span.b-marks__mark
            - }
            - for (var j = 1; j <=nohit; j++) {
            li
                span.b-marks__mark.b-marks__mark-off
            - }
    div
        h4.g-subheader Communication
        ul.b-marks
            - var hit = 11;
            - var nohit = 1;
            - for (var i = 1; i <=hit; i++) {
            li
                span.b-marks__mark
            - }
            - for (var j = 1; j <=nohit; j++) {
            li
                span.b-marks__mark.b-marks__mark-off
            - }