div.software
    h3.block-title Software
    table.software__bars
        tr.bar
            th.software__left
                h4.g-subheader Photoshop
                div.gray-bar
                    div.blue-bar
            th.software__right
                h4.g-subheader Dreamweaver
                div.gray-bar
                    div.blue-bar.dreamweaver
        tr.bar
            th.software__left
                h4.g-subheader Illustrator
                div.gray-bar
                    div.blue-bar.illustrator
            th.software__right
                h4.g-subheader After effects
                div.gray-bar
                    div.blue-bar.after-effects
        tr.bar
            th.software__left
                h4.g-subheader Indesign
                div.gray-bar
                    div.blue-bar.indesign
            th.software__right
                h4.g-subheader HTML&amp;CSS3
                div.gray-bar
                    div.blue-bar