.software
  margin-top 50px

.bars-table
  border-collapse collapse
  width 90%
  text-align left
  margin-bottom 35px

  &__left
    padding-right 50px
    @media screen and (max-width: 850px)
      padding-right: 10px

  &__right
    padding-left 50px
    @media screen and (max-width: 850px)
      padding-left 10px

  & .g-subheader
    margin 15px

