.software
  margin-top 50px

  &__left
    padding-right 50px
    @media screen and (max-width: 850px)
      padding-right: 10px

  &__right
    padding-left 50px
    @media screen and (max-width: 850px)
      padding-left 10px

  &__bars
    border-collapse collapse
    width 90%
    text-align left
    margin-bottom 35px

    & .g-subheader
      margin 15px

.gray-bar
  background #e6e6e6
  height 20px

  & .blue-bar
    float left
    background #3d6cb0
    width 90%
    height 20px

  & .dreamweaver
    width 80%

  & .illustrator
    width 70%

  & .after-effects
    width 65%

  & .indesign
    width 60%

