// mixins
include ../bar/bar

mixin software(title)
    .software
        h3.block-title #{title}
        table.bars-table
            tr.bar
                th.bars-table__left
                    +bar('photoshop', '90')
                th.bars-table__right
                    +bar('dreamweaver', '80')
            tr.bar
                th.bars-table__left
                    +bar('illustrator', '70')
                th.bars-table__right
                    +bar('after effects', '65')
            tr.bar
                th.bars-table__left
                    +bar('indesign', '60')
                th.bars-table__right
                    +bar('HTML&amp;CSS3', '90')