.first-column__skills .g-subheader
  display flex
  justify-content center
  margin 0

.marks
  text-align center
  margin 14px

  &__mark
    display block
    width 16px
    height 16px
    border-radius 50%
    background #3d6cb0
    margin-right 13px

  &__mark-off
    background #e6e6e6

.marks li
  display inline-block

.first-column__skills
  margin-top -30px

.skills
  margin-top 20px