.first-column__skills .g-subheader
  display flex
  justify-content center
  margin 0

.b-marks
  margin 0
  text-align center
  padding 15px

.b-marks li
  display inline-block

.b-marks__mark
  display block
  width 16px
  height 16px
  border-radius 50%
  background #3d6cb0
  margin-right 6px

.b-marks__mark-off
  background #e6e6e6