// mixin
include ../../html/paragraph/paragraph
include ../../html/block-title/block-title

mixin education()
    .education
        +block-title('education')
        ul.education__positions
            +paragraph('master degree', 'Feb 2011 - Jun 2014', 'University')
            +paragraph('master degree', 'Feb 2011 - Jun 2014', 'University')
            +paragraph('master degree', 'Feb 2011 - Jun 2014', 'University')
            +paragraph('master degree', 'Feb 2011 - Jun 2014', 'University')
