@charset "UTF-8"

.bold
.block-title
.user-surname
.user-position
.paragraph__text-header
  font-family "MyriadProBold", "Eras Bold ITC", serif or sans

.light
.user-name
  font-family "MyriadProLightSemiExtended_31641", "Eras Light ITC", serif or sans

.regular
.first-column__profile p
.g-subheader
.description
.paragraph__date
.second-column__education p
.second-column__experience p
  font-family "MyriadProRegular", "Eras Medium ITC", serif or sans

html
  height auto

body
  width 100%
  height auto
  margin 0

.g-container
  max-width 1200px
  margin 0 auto

.first-column
  width 35%
  float left

@media screen and (max-width: 850px)
  .first-column
    width auto
    padding-left 10px
    padding-right 10px

.second-column
  margin-left 40%

@media screen and (max-width: 850px)
  .second-column
    margin 0
    padding-left 10px
    padding-right 10px
    float left

.paragraph__text-header
  margin 0
  font-size 27px
  overflow hidden
  color #3d6cb0
  text-transform uppercase

.g-subheader
  font-size 26px
  text-transform uppercase
  font-weight 300

.block-title
  font-size 40px
  overflow hidden
  color #3d6cb0
  background #fff
  text-transform uppercase
  margin-bottom 0
  vertical-align middle

/*icons and lines*/
.icon
.block-title:before
  content ""
  display inline-block
  width 80px
  height 80px
  background require=(url(./img/sprite.png))no-repeat center center
  vertical-align middle
  margin-right 5px
  background-size cover
  background-origin border-box

.first-column__profile h3:before
  background-position 0 0

.first-column__contact h3:before
  background-position -93px 0

.first-column__skills h3:before
  background-position -192px 0

.second-column__education h3:before
  background-position -294px 0

.second-column__experience h3:before
  background-position -407px 0

.second-column__software h3:before
  background-position -512px 0

.line
.block-title:after
  display inline-block
  content ""
  height 5px
  width 90%
  vertical-align 23%
  background #3d6cb0
  margin-right -100%
  margin-left 15px

@media screen and (max-width: 850px)
  .line
  .block-title:after
    display none

@import '../html/first-column/frame/frame.styl'
@import '../html/first-column/contact/contact.styl'
@import '../html/first-column/profile/profile.styl'
@import '../html/first-column/skills/skills.styl'
@import '../html/second-column/education/education.styl'
@import '../html/second-column/experience/experience.styl'
@import '../html/second-column/software/software.styl'
@import './fonts.styl'
