@charset "UTF-8"

.bold
h3
.first-column__frame h1
.first-column__frame h4
.b-paragraph__text-header
  font-family "MyriadProBold"

.light, .first-column__frame h2
  font-family "MyriadProLightSemiExtended_31641"

.regular
.first-column__profile p
.g-subheader
.description
.b-paragraph__date
.b-second-column__education ul li p
.b-second-column__experience ul li p
  font-family "MyriadProRegular"

html
  height auto

body
  width 100%
  height auto
  margin 0

.g-container
  max-width 1200px
  margin 0 auto

.b-first-column
  width 35%
  float left

.b-second-column
  margin-left 40%

.b-paragraph__text-header
  margin 0
  font-size 23px
  overflow hidden
  color #3d6cb0
  text-transform uppercase

.g-subheader
  font-size 22px
  text-transform uppercase
  font-weight 300

h3
  font-size 40px
  overflow hidden
  color #3d6cb0
  background #fff
  text-transform uppercase
  margin-bottom 0
  vertical-align middle

/*Иконки и линии*/
.icon
h3:before
  content ""
  display inline-block
  width 70px
  height 70px
  background require=(url(./img/sprite.png))no-repeat center center
  vertical-align middle
  margin-right 5px
  background-size cover
  background-origin border-box

.first-column__profile h3:before
  background-position 0 0

.first-column__contact h3:before
  background-position -83px 0

.first-column__skills h3:before
  background-position -171px 0

.b-second-column__education h3:before
  background-position -259px 0

.b-second-column__experience h3:before
  background-position -355px 0

.b-second-column__software h3:before
  background-position -447px 0

.line
h3:after
  display inline-block
  content ""
  height 5px
  width 100%
  vertical-align 23%
  background #3d6cb0
  margin-right -100%
  margin-left 15px

@media screen and (min-width: 300px) and (max-width: 850px)
  .b-first-column
    width auto
    padding-left 10px
    padding-right 10px

  .b-second-column
    margin 0
    padding-left 10px
    padding-right 10px
    float left

  .line
  h3:after
    display none

@import '../html/first-column/frame/frame.styl'
@import '../html/first-column/contact/contact.styl'
@import '../html/first-column/profile/profile.styl'
@import '../html/first-column/skills/skills.styl'
@import '../html/second-column/education/education.styl'
@import '../html/second-column/experience/experience.styl'
@import '../html/second-column/software/software.styl'
@import './fonts.styl'
