@charset "UTF-8"

//.bold
//.block-title
//.frame__user-surname
//.frame__user-position
//.paragraph__text-header
//.contact__text-header
//  font-family MyriadProBold, "Eras Bold ITC", serif or sans

//.light
//.frame__user-name
//  font-family MyriadProLightSemiExtended_31641, "Eras Light ITC", serif or sans

//.regular
//.profile__text-about
//.g-subheader
//.description
//.contact__description
//.paragraph__date
//.paragraph__description
//  font-family MyriadProRegular, "Eras Medium ITC", serif or sans

html
  height auto

body
  width 100%
  height auto
  margin 0

.g-subheader
  font-family MyriadProRegular, "Eras Medium ITC", serif or sans
  margin 0
  font-size 1.5rem
  text-transform uppercase
  font-weight 300

@import '../html/block-title/block-title.styl'
@import '../html/bars-table/bars-table.styl'
@import '../html/frame/frame.styl'
@import '../html/wrapper/wrapper.styl'
@import '../html/contact/contact.styl'
@import '../html/profile/profile.styl'
@import '../html/skills/skills.styl'
@import '../html/marks/marks.styl'
@import '../html/paragraph/paragraph.styl'
@import '../html/education/education.styl'
@import '../html/experience/experience.styl'
@import '../html/software/software.styl'
@import '../html/bar/bar.styl'
@import './fonts.styl'
