div.first-column__frame
    svg
        circle(r='32%' cx='50%' cy='50%' fill='none' stroke='#3d6cb0')
        circle(r='29%' cx='50%' cy='50%' fill='#3d6cb0')
    h2 name here
    h1 surname
    h4 graphic designer