div.first-column__frame
    svg.circle
        circle(r='33%' cx='50%' cy='50%' fill='none' stroke='#3d6cb0')
        circle(r='30%' cx='50%' cy='50%' fill='#3d6cb0')
    h2.user-name name here
    h1.user-surname surname
    h4.user-position graphic designer