.first-column__frame
  display block
  width 100%
  text-align center
  text-transform uppercase

.circle
  width: 100%
  min-height 250px
  max-height 460px

@media screen and (max-width: 850px)
  .circle
    width auto

.user-surname
  font-size 60px
  margin 0

@media screen and (max-width: 850px)
  .user-surname
    font-size 55px

.user-name
  max-width 420px
  font-size 55px
  margin 0

@media screen and (max-width: 850px)
  .user-name
    font-size 45px

.user-position
  font-size 25px
  margin-top 0
  margin-bottom 70px

@media screen and (max-width: 850px)
  .user-position
    font-size 15px
